<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="">
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

<div id="app"></div>

<script src="{{ asset('build/app.js') }}"></script>

</body>
</html>
